<!DOCTYPE html>
<html>
<head>
<title>View</title>
</head>
<body>
    <form method="get" action="/pay">
    <table style="align-items: center;">
        <tr>
          <th>Pessoa</th>
          <th>Carta</th>
          <th>Valor</th>
        </tr>
        <tr>
          <td><input type="radio" value="1" name="id"></td>
          <td>Alfreds Futterkiste</td>
          <td id="card">Ulamog</td>
          <td value="150" name="valor">150</td>
        </tr>
        <tr>
          <td><input type="radio" value="2" name="id"></td>
          <td>Alisson</td>
          <td>Emrakul</td>
          <td>100</td>
        </tr>
        <tr>
            <td><input type="radio" value="3" name="id"></td>
            <td>Jão</td>
            <td>Kozilek</td>
            <td>200</td>
          </tr>
      </table>
      <br/>
      <button type="submit" style="margin-left: 100px;">comprar</button>
    </form>
</body>
</html>