<!DOCTYPE html>
<html>
<head>
<title>View</title>
</head>
<body>
    <form method="get" action="/pay">
    <table>
        <tr>
          <th>Pessoa</th>
          <th>Carta</th>
          <th>Valor</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <input type="text" id="card" value="Ulamog" name="card">Ulamog</input>
          <td value="150" name="valor">150</td>
          <td><button type="submit" >comprar</button></td>
        </tr>
        <tr>
          <td>Alisson</td>
          <td value="Emrakul" name="card">Emrakul</td>
          <td value="150" name="valor">100</td>
          <td><button type="submit">comprar</button></td>
        </tr>
        <tr>
            <td>Jão</td>
            <td value="Kozilek" name="card">Kozilek</td>
            <td value="150" name="valor">200</td>
            <td><button type="submit">comprar</button></td>
          </tr>
      </table>
    </form>
</body>
</html>